<IfModule mod_rewrite.c>
    RewriteEngine On

    # ganti sesuai nama folder project kamu
    RewriteBase /lab11_php_oop/

    # kalau file/folder asli tidak ada, arahkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
